<a href="https://colab.research.google.com/github/mdjasimuddim/DataScience/blob/main/Scaling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
path = '/content/drive/MyDrive/DataScienceAllDocuments/supershops.csv';

In [ ]:
df = pd.read_csv(path)   #read the csv file

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [ ]:
df.head(10)  #read the first 10 data from csv file

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94
5        131876.90        99814.71  362861.36    Dhaka  156991.12
6        134615.46       147198.87  127716.82      Ctg  156122.51
7        130298.13       145530.06  323876.68  Rangpur  155752.60
8        120542.52       148718.95  311613.29    Dhaka  152211.77
9        123334.88       108679.17  304981.62      Ctg  149759.96

In [ ]:
df.isnull().sum()  #check the missing data

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [ ]:
x = df.drop('Profit', axis=1)  #drop the Profit column from dataset

In [ ]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [ ]:
y = df['Profit']

In [ ]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Standard Scaler

In [ ]:
from sklearn.preprocessing import StandardScaler #import standardscaler library from sklearn.preprocessing 
std = StandardScaler()

In [ ]:
df_ad = std.fit(df[['Administration']]) #transformation only feature from x, don't transform Y variable

In [ ]:
df_ad

StandardScaler()

In [ ]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [ ]:
df.Administration = std.transform(df[['Administration']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61        0.560753  471784.10    Dhaka  192261.83
1        162597.70        1.082807  443898.53      Ctg  191792.06
2        153441.51       -0.728257  407934.54  Rangpur  191050.39
3        144372.41       -0.096365  383199.62    Dhaka  182901.99
4        142107.34       -1.079919  366168.42  Rangpur  166187.94

In [ ]:
df.Transport = std.fit_transform(df[['Transport']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61        0.560753   2.165287    Dhaka  192261.83
1        162597.70        1.082807   1.929843      Ctg  191792.06
2        153441.51       -0.728257   1.626191  Rangpur  191050.39
3        144372.41       -0.096365   1.417348    Dhaka  182901.99
4        142107.34       -1.079919   1.273550  Rangpur  166187.94

## Loop Scaler

In [ ]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        49 non-null     float64
 3   Area             50 non-null     object
dtypes: float64(3), object(1)
memory usage: 1.7+ KB

In [ ]:
std = StandardScaler()

for column in x.columns:
    if  x.dtypes[column] != object:
        x[column] = std.fit_transform(x[[column]])

In [ ]:
x.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

# MinMax Scaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler #import MinMaxScaler from sklearn.preprocessing

min_max_scale = MinMaxScaler()
df['Marketing Spend'] = min_max_scale.fit_transform(df[['Marketing Spend']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.560753   2.165287    Dhaka  192261.83
1         0.983359        1.082807   1.929843      Ctg  191792.06
2         0.927985       -0.728257   1.626191  Rangpur  191050.39
3         0.873136       -0.096365   1.417348    Dhaka  182901.99
4         0.859438       -1.079919   1.273550  Rangpur  166187.94

## Max Absolute Scaler

In [ ]:
from sklearn.preprocessing import MaxAbsScaler   #import MaxAbsScaler from sklearn.preprocessing

max_abs_scale = MaxAbsScaler()
df['Marketing Spend'] = max_abs_scale.fit_transform(df[['Marketing Spend']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.560753   2.165287    Dhaka  192261.83
1         0.983359        1.082807   1.929843      Ctg  191792.06
2         0.927985       -0.728257   1.626191  Rangpur  191050.39
3         0.873136       -0.096365   1.417348    Dhaka  182901.99
4         0.859438       -1.079919   1.273550  Rangpur  166187.94

## Robust Scaler

In [ ]:
from sklearn.preprocessing import RobustScaler  #import RobustScaler from sklearn.preprocessing|

In [ ]:
robust_Scaler = RobustScaler()

In [ ]:
df['Marketing Spend'] = robust_Scaler.fit_transform(df[['Marketing Spend']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.560753   2.165287    Dhaka  192261.83
1         1.452113        1.082807   1.929843      Ctg  191792.06
2         1.303634       -0.728257   1.626191  Rangpur  191050.39
3         1.156567       -0.096365   1.417348    Dhaka  182901.99
4         1.119836       -1.079919   1.273550  Rangpur  166187.94

## Loop

In [ ]:
df = pd.read_csv(path) #Again Read csv file from data set

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [ ]:
rs = RobustScaler()
x = df.drop('Profit', axis=1)       # drop Profit from dataset
for column in x.columns:
    if  x.dtypes[column] != object:
        df[column] = rs.fit_transform(df[[column]])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94